server {
    listen {{ lighthouse_nginx_port }};
    server_name lighthouse;
    root {{ lighthouse_data_dir }};
    index index.html;

    location /1 {
        try_files $uri $uri/ /index.html;
    }
}